.list {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.list__input {
    padding: 5px;
    text-align: center;
}
.list__news {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.ist__input-news {
    padding: 5px;
    width: 200px;
}